{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h1>Open Stores</h1>
    <hr />

    {% for store in stores %}
    <a href="/browse/stores/{{ store.storeId }}">
        <div class="col-sm-2 panel panel-default hover-effect">
            <center>
                <img alt="{{ store.getStoreName }}" class="img-circle preview-thumbnail" src="{{ asset('uploads/stores/images/'~store.storeImage) }}" />
                <br />
                <p>
                    <b>{{ store.storeName }}</b>
                    <br />
                    <span style="color: black"><i>{{ store.storeDescription }}</i></span>
                </p>
                <input id="input-7-xs" class="rating rating-loading" data-display-only=true value="{{ store.storeRating }}" data-min="0" data-max="5" data-step="1" data-size="xs" />
            </center>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}
