{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

	<div>
		{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="alert alert-success">
			{{ flashMessage }}
		</div>
		{% endfor %}
	</div>

	<div id="welcome-message"><h2 id="greeting">{{ greeting }}</h2></div>

	<div class="panel panel-default col-md-4" id="detail-table">
		<table class="table table-striped table-hover">

			<tr><td>First Name</td><td>{{ user.firstname }}</td></tr>
			<tr><td>Last Name</td><td>{{ user.lastname }}</td></tr>
			<tr><td>Mobile Number</td><td>{{ user.mobilenumber }}</td></tr>
			<tr><td>Email</td><td>{{ user.email }}</td></tr>
			<tr><td>Home Address</td><td>{{ user.homeaddress }}</td></tr>

		</table>
	</div>

	<div class="panel panel-default col-md-8" id="news">
		<h1>NEWS</h1>
		<hr />
		<div id="notifications">
			<!-- <div class="alert alert-danger">Your recent order has been rejected! <a href="#">See Listings</a></div>
			<div class="alert alert-warning">You have 5 reserved products in cart! <a href="/cart">View Cart</a></div>
			<div class="alert alert-warning">You have 4 pending product shipments! <a href="/mystore/view-pending">View Pending</a></div>
			<div class="alert alert-success">2 products were sucessfully shipped! <a href="#">See Transaction History</a></div> -->
		</div>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>

	<script type="text/javascript">

	function refreshNotifications() {
	    var xmlhttp = new XMLHttpRequest();
	    xmlhttp.onreadystatechange = function() {
	        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
	            document.getElementById("notifications").innerHTML = xmlhttp.responseText;
	        }
	    };
	    xmlhttp.open("GET", "/notifications", true);
	    xmlhttp.send();
	}

	window.setInterval(
		function() {
			refreshNotifications();
		}, 1000
	)
	</script>
    {% endblock %}
