{% extends 'base.html.twig' %}

{% block body %}
<div id="store-products" class="container">
    <center><h3>Transaction History</h3></center>

    <hr />
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <th>Transaction Date</th>
                <th>Product name</th>
                <th>Store</th>
                <th>Quantity Ordered</th>
                <th>Unit Price</th>
                <th>Total</th>
                <th>Status</th>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.getFormattedTransactionDate }}</td>
                    <td>{{ transaction.getProduct.name }}</td>
                    <td>{{ transaction.getProduct.getStore.name }}</td>
                    <td>{{ transaction.quantity }}</td>
                    <td>{{ transaction.getProduct.price }}</td>
                    <td>{{ transaction.getTotal }}</td>
                    <th><span style="color: green">{{ transaction.status }}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
