{% for notification in notifications %}
    {% if notification['type'] == 'REJECTED' %}
        <div class="alert alert-danger">You have {{ notification['count'] }} rejected order{{ (notification['count'] == '1') ? '' : 's' }}! <a href="/transaction-history">See Transaction History</a></div>
    {% endif %}

    {% if notification['type'] == 'DELIVERED' %}
        <div class="alert alert-success">You have {{ notification['count'] }} order{{ (notification['count'] == '1') ? '' : 's' }} sucessfully shipped! <a href="/shipments/view">View Shipped Orders</a></div>
    {% endif %}

    {% if notification['type'] == 'CHECKED-OUT' %}
        <div class="alert alert-warning">You have {{ notification['count'] }} pending product shipments! <a href="/mystore/view-pending">View Pending Orders</a></div>
    {% endif %}

    {% if notification['type'] == 'IN-CART' %}
        <div class="alert alert-warning">You have {{ notification['count'] }} reserved product{{ (notification['count'] == '1') ? '' : 's' }} in cart! <a href="/cart">View Cart</a></div>
    {% endif %}
{% endfor %}
