{% extends 'base.html.twig' %}

{% block body %}

<a href="/vendor/mystore"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span>Back</button></a>

<center><h2>Edit Product Form</h2></center>
<div class="center-div panel panel-default" id="create-listing">
    {{ form_start(form) }}

    {{ form_label(form.name) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name, {attr: {value: product.name}}) }}
    <br />
    {{ form_label(form.quantity) }}
    {{ form_errors(form.quantity) }}
    {{ form_widget(form.quantity, {attr: {value: product.quantity}}) }}
    <br />
    {{ form_label(form.price) }}
    {{ form_errors(form.price) }}
    {{ form_widget(form.price, {attr: {value: product.price}}) }}
    <br />
    {{ form_label(form.description) }}
    {{ form_errors(form.description) }}
    {{ form_widget(form.description, {'value': product.description}) }}
    <br />
    {{ form_row(form.image) }}
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Save Changes</button>
    <button type="reset" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span> Clear Form</button>
    {{ form_end(form) }}
</div>

{% endblock %}
