{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
    <hr />
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
        {{ flashMessage }}
    </div>
    <hr />
    {% endfor %}

    {% if app.user.memberType=='ROLE_MEMBER' %}
    <a href="/mystore"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left"></span>Back</button></a>
    {% endif %}

    {% if app.user.memberType=='ROLE_DELIVERY_GUY' %}
    <center><h3>ORDERS TO BE SHIPPED</h3></center>
    {% endif %}

    {% if app.user.memberType=='ROLE_MEMBER' %}
    <center><h3>SUMMARY OF ALL ORDERS</h3></center>
    {% endif %}

    <hr />

    {% for order in shippedOrders %}
    <div class="table-responsive table-display-fix" id="{{ order['customer'].id }}">

        {% if order['lastOrderStatus'] == 'ACCEPTED BY VENDOR: Being Shipped' %}
        <div class="alert alert-warning">This customer has orders that are currently being shipped.</div>
        {% endif %}

        {% if order['lastOrderStatus'] == 'DELIVERED' %}
        <div class="alert alert-success">Last order of customer was successfully delivered by <b>{{ order['lastDeliveryGuy'] }}</b> on {{ groupedOrder['group']['transactionDate'] }}</div>
        {% endif %}

        <p>Last Transaction Date: <b>{{ order['lastTransactionDate'] }}</b></p>
        <p>Customer Name: <b>{{ order['customer'].getFullName }}</b></p>
        <p>Address: <b>{{ order['customer'].homeaddress }}</b></p>
        <p>Contact Number: <b>{{ order['customer'].mobilenumber }}</b></p>

        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Transaction Date</th>
                    <th>Order Quantity</th>
                    <th>Product Name</th>
                    <th>Unit Price</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for productOrder in order['orders'] %}

                <tr>
                    <td>{{ productOrder.getFormattedTransactionDate }}</td>
                    <td>{{ productOrder.quantity }}</td>
                    <td>{{ productOrder.getProduct.name }}</td>
                    <td>{{ productOrder.getProduct.price }}</td>
                    <td>{{ productOrder.getTotal }}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
        <h3>Grand Total: PHP {{ order['total'] }}</h3>
        <br />

        {% if order['lastOrderStatus'] == 'ACCEPTED BY VENDOR: Being Shipped' %}

        {% if app.user.memberType=='ROLE_MEMBER' %}
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectModal{{ order['customer'].id }}"><span class="glyphicon glyphicon-ban-circle"></span> Cancel Shipment</button>

        <div id="rejectModal{{ order['customer'].id }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Confirm Cancellation</h4>
                    </div>
                    <div class="modal-body">
                        <p><b>Are you sure that you want to cancel the delivery?</b></p>
                        <br />
                        <p>All orders with a <i>Being Shipped</i> status will be marked again as <b>Pending</b>. </p>
                        <a href="/vendor/shipcancel/{{ order['customer'].id }}"><button class="btn btn-danger">Confirm Cancellation</button></a>
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if app.user.memberType=='ROLE_DELIVERY_GUY' %}
        <a type="button" href="#" class="btn btn-primary" data-toggle="modal" data-target="#deliveryModal{{ order['customer'].id }}"><span class="glyphicon glyphicon-ok"></span> I have delivered this order!</a>

        <div id="deliveryModal{{ order['customer'].id }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Confirm Order Delivery</h4>
                    </div>
                    <div class="modal-body">
                        <p><b>Are you sure that this is the order you delivered?</b></p>
                        <br />
                        <p>You are authorized to collect <b>PHP {{ order['total'] }}</b> from the customer.</p>
                        <a href="/shipments/deliver/{{ order['customer'].id }}"><button class="btn btn-primary">Confirm</button></a>
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% endif %}

    </div>
    <br />


    {% endfor %}
</div>
{% endblock %}
