{% extends 'base.html.twig' %}

{% block body %}

<div class="panel panel-default" id="product_view">

    <table class="table table-hover" id="detail-table">
        {% include 'Includables/ProductDetails.html.twig' %}
    </table>

    <!-- modal definitions -->
    <div id="vendorContactModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Contact Vendor</h4>
                </div>
                <div class="modal-body">

                    Vendor Name: <b>{{ product.store.vendor.firstname }} {{ product.store.vendor.lastname }}</b><br />
                    Vendor Address: <b>{{ product.store.vendor.homeaddress }} </b><br />
                    Vendor Contact Number: <b>{{ product.store.vendor.mobileNumber }} </b><br />
                    <br />
                    <button type="reset" class="btn btn-success"  data-dismiss="modal"><span class="glyphicon glyphicon-check"></span> Got It!</button>

                </div>
            </div>
        </div>
    </div>
    <!-- end modal definitions -->
</div>

<script type="text/javascript">
function refreshProduct() {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            if (document.getElementById("detail-table").innerHTML != xmlhttp.responseText) {
                document.getElementById("detail-table").innerHTML = xmlhttp.responseText;
            }
        }
    };
    xmlhttp.open("GET", "/product/view/update/{{ product.getStore.id }}", true);
    xmlhttp.send();
}

window.setInterval(function () {
    refreshProduct();
}, 1000);
</script>

{% endblock %}
